
<% layout('layouts/userBoilerplate')%>
<p><%=cart.bdate%></p>
<% for(let product of cart){%>
  <form action="/user/order/orderSummary" method="POST">
  <div class="card mb-3  bg-light mb-3 " >
    <div class="row g-0">
      <div class="col-md-4">
        
      </div>
      <div class="col-md-8">
        <div class="card-body">
          
          <b><p style="font-size: x-large;">Order Id</p></b>
          <input type="text" id="productId" name="productId" size="25" value=<%=product._id%> style="border:none;border-color: transparent;" readonly>
         <div class="mb-2 mt-2">
          <b><p class="card-text"> Ordered Date:<%=product.bdate%></p></b>
        </div>
          <button class="btn btn-primary">View Order Summary!</button>
         

        </div>
      </div>
    </div>
  </div>
</form>
<%}%>